body {

  font-family: 'Roboto', sans-serif;

  margin: 0;

  background-color: #1c1c1c;

  color: #fff;
}

a {

  text-decoration: none;
}

h1 {

  background-color: #7c00ff;

  display: flex;

  align-items: center;

  position: relative;

  margin: 0px;

  padding: 30px;
}

.content {

  display: flex;

  flex-wrap: wrap;
}

.search {

  background-color: #474747;

  display: flex;

  align-items: center;

  margin: 0px;

  padding: 5px;

  flex-basis: 100%;

  width: 100%;
}

.search input {

  margin: 0;

  vertical-align: middle;
}

.post {

  display: inline-block;

  margin: 10px;

  padding: 10px;

  border: 1px solid #fff;

  border-radius: 3px;
}

.post-description {

  color: #fff;
}

.post::after {

  content: "Creator: " attr(data-creator) " | Upvotes: " attr(data-upvotes) " | Views: " attr(data-views) " | Mood: " attr(data-mood);

  display: block;

  color: #fff;

  font-size: 0.85em;

  margin-top: 8px;
}

.sorting-box {

  min-width: 100px;

  max-width: 200px;

  margin: 10px 10px auto 10px;

  padding: 20px;

  background-color: #474747;

  border-radius: 3px;
}
