body {

  font-family: 'Roboto', sans-serif;

  margin: 0;

  background-color: #1c1c1c;

  color: #fff;
}

a {

  text-decoration: none;
}

h1 {

  background-color: #7c00ff;

  display: flex;

  align-items: center;

  position: relative;

  margin: 0px;

  padding: 30px;
}

.search {

  background-color: #474747;

  display: flex;

  margin: 0px;

  padding: 5px;
}
