<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>SPA.com</title>
  <link rel="stylesheet" href="/static/index.css">
  <script src="/static/index.js" charset="utf-8" defer></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/color-thief/2.3.2/color-thief.umd.js"></script>
</head>
<body>
    <h1>Spotify Playlist Analyzer</h1>

    <main class="top-bar">
        <!-- Playlist URL input box -->
        <section class="playlist-input">
            <h2>Add a Playlist</h2>
            <form id="playlistForm">
                <input type="url" id="playlistUrl" name="url" placeholder="Enter playlist URL" required>
                

                <button type="submit">Submit</button>
            </form>
        </section>

        

        
        <!-- Search + Sorting together -->
        <section class="search-sort">
            <div class="search-bar">
                <label for="search">Search for Playlist:</label>
                <form id="search-form" action="/" method="get">
                    <input class="search-bar-input" name="search" placeholde r="Search" value="{{ search_query or '' }}">
                    </form>
                </div>
        
            <div class="sorting-controls">
                <label for="sort">Sort by:</label>
                <select id="sort">
                    <option selected value="coming-soon">Coming Soon...</option>
                    <option value="upvotes">Upvotes</option>
                    <option value="views">Views</option>
                    <option value="date">Date Created</option>
                    <option value="title">Title</option>
                    <option value="creator">Creator Name</option>
                </select>
            </div>
            <div class="direction-controls">
                <label for="direction">Direction:</label>
                <select id="direction">
                    <option selected value="coming-soon">Coming Soon...</option>
                    <option value="ascending">Ascending</option>
                    <option value="descending">Descending</option>
                </select>
            </div>
        </section>
    </main>

        <main class="content">

            <section id="post-container">

              {% for playlist in playlists %}

                <a  href="/playlist/{{ loop.index }}" 
                    class="post" 
                    data-artist="{{ playlist.songs[0].artist }}" 
                    data-upvotes="0" 
                    data-views="0" 
                    data-mood="{{ playlist.mood }}" 
                    data-primary="{{ playlist.primary_color }}"
                    data-secondary="{{ playlist.secondary_color }}">


                    <div class="image-section">
                        <!-- image would go here -->
                        <img src="{{ playlist['image-url'] }}" alt=" {{ playlist['playlist-name'] }}">

                    </div>
                    <div class="post-description">
                        <p class="post-title">{{ playlist['playlist-name'] }}</p>
                    </div>
                </a>

                {% endfor %}

            </section>
        </main>
    </body>
</html>
