 <section id="post-container">

  <div class="post" data-artist="{{ playlist.songs[0].artist }}" data-upvotes="0" data-views="0" data-mood="{{ playlist.songs[0].mood }}">
                    
    <div class="image-section">
                        
      <!-- image would go here -->
      <img src="{{ playlist['image-url'] }}" alt="{{ playlist['playlist-name'] }}">
                    
    </div>
                    
    <div class="post-description">
                        
      <p class="post-title">{{ playlist['playlist-name'] }}</p>

      <h3>Songs:</h3>

      <ul>

        {% for song in playlist.songs %}

        <li>

          <strong>{{ song.title }}</strong> by {{ song.artist }} - {{ song.mood }}

        </li>

        {% endfor %}

      </ul>
                    
    </div>
                
  </div>

</section>


